<b>Indro Dwi Saputro
2009106099
INDROMAMEN IS HERE</b>

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv("data-item.csv")

In [6]:
df

,itemId,category,name,brandName,url,price,averageRating,totalReviews,retrievedDate
0,100002528,beli-harddisk-eksternal,"TOSHIBA Smart HD LED TV 32"" - 32L5650VJ Free B...",Toshiba,https://www.lazada.co.id/products/toshiba-smar...,2499000,4,8,2019-10-02
1,100003785,beli-harddisk-eksternal,"TOSHIBA Full HD Smart LED TV 40"" - 40L5650VJ -...",Toshiba,https://www.lazada.co.id/products/toshiba-full...,3788000,3,3,2019-10-02
2,100004132,beli-harddisk-eksternal,Samsung 40 Inch Full HD Flat LED Digital TV 4...,LG,https://www.lazada.co.id/products/samsung-40-i...,3850000,3,2,2019-10-02
3,100004505,beli-harddisk-eksternal,"Sharp HD LED TV 24"" - LC-24LE175I - Hitam",Sharp,https://www.lazada.co.id/products/sharp-hd-led...,1275000,3,11,2019-10-02
4,100005037,beli-harddisk-eksternal,Lenovo Ideapad 130-15AST LAPTOP MULTIMEDIA I A...,Lenovo,https://www.lazada.co.id/products/lenovo-ideap...,3984100,5,1,2019-10-02
...,...,...,...,...,...,...,...,...,...
10937,9467887,shop-televisi-digital,"Toshiba 32L3750VJ Digital Tv DVB-T2 LED TV 32""...",Toshiba,https://www.lazada.co.id/products/toshiba-32l3...,1990000,4,12,2019-10-02
10938,9467898,shop-televisi-digital,Samsung 43K5002AK Televisi LED - Khusus JABODE...,Samsung,https://www.lazada.co.id/products/samsung-43k5...,4590000,1,1,2019-10-02
10939,9467899,shop-televisi-digital,"Sharp 32LE180i AQUOS LED TV 32 "" Khusus JABOD...",Sharp,https://www.lazada.co.id/products/sharp-32le18...,1990000,4,2,2019-10-02
10940,9548087,shop-televisi-digital,"Akari LED TV LE-50D88 50"" FULL HD (Hitam) - ...",Akari,https://www.lazada.co.id/products/akari-led-tv...,4790000,5,1,2019-10-02
10941,9548767,shop-televisi-digital,"Akari LED TV LE-25B88 25"" HD READY (Hitam) -...",Akari,https://www.lazada.co.id/products/akari-led-tv...,1590000,4,2,2019-10-02

In [7]:
df.dtypes

itemId            int64
category         object
name             object
brandName        object
url              object
price             int64
averageRating     int64
totalReviews      int64
retrievedDate    object
dtype: object

In [8]:
totalRecord = len(df)
namaAttribute = df.columns
jumlahObjek = len(df.select_dtypes(include=['object']).columns)
jumlahAngka = len(df.select_dtypes(include=['int64']).columns)
jumlahNULL = len(df.columns[df.isna().sum() > 0])

dict1 = {
    "total record": totalRecord,
    "Nama Attribute yang ada": namaAttribute,
    "Jumlah Objek": jumlahObjek,
    "Jumlah Angka": jumlahAngka,
    "Jumlah NULL": jumlahNULL,
}

pd.Series(dict1)

total record                                                           10942
Nama Attribute yang ada    Index(['itemId', 'category', 'name', 'brandNam...
Jumlah Objek                                                               5
Jumlah Angka                                                               4
Jumlah NULL                                                                1
dtype: object

In [13]:
df.select_dtypes(include=['int64']).mean()

itemId           2.936823e+08
price            3.020219e+06
averageRating    4.171632e+00
totalReviews     2.736949e+01
dtype: float64

In [10]:
df.select_dtypes(include=['int64']).std()

itemId           2.090568e+08
price            6.681453e+06
averageRating    1.032055e+00
totalReviews     2.602538e+02
dtype: float64

In [11]:
df.select_dtypes(include=['int64']).min()

itemId           6068
price            1000
averageRating       1
totalReviews        1
dtype: int64

In [14]:
df.select_dtypes(include=['int64']).max()

itemId           724216967
price            275000000
averageRating            5
totalReviews          9631
dtype: int64

In [15]:
df.select_dtypes(include=['int64']).quantile([0.25,0.5,0.75])

            itemId      price  averageRating  totalReviews
0.25  1.082924e+08    79200.0            4.0           1.0
0.50  3.540792e+08  1095000.0            4.0           2.0
0.75  4.527141e+08  3959000.0            5.0           7.0

In [17]:
df.describe()

             itemId         price  averageRating  totalReviews
count  1.094200e+04  1.094200e+04   10942.000000  10942.000000
mean   2.936823e+08  3.020219e+06       4.171632     27.369494
std    2.090568e+08  6.681453e+06       1.032055    260.253817
min    6.068000e+03  1.000000e+03       1.000000      1.000000
25%    1.082924e+08  7.920000e+04       4.000000      1.000000
50%    3.540792e+08  1.095000e+06       4.000000      2.000000
75%    4.527141e+08  3.959000e+06       5.000000      7.000000
max    7.242170e+08  2.750000e+08       5.000000   9631.000000

In [18]:
df.select_dtypes(include=['int64']).corr()

                 itemId     price  averageRating  totalReviews
itemId         1.000000 -0.002292       0.137380     -0.000554
price         -0.002292  1.000000       0.099070     -0.012488
averageRating  0.137380  0.099070       1.000000     -0.018856
totalReviews  -0.000554 -0.012488      -0.018856      1.000000

In [19]:
df["itemId"] = df["itemId"].astype('float64', errors='ignore')
df["itemId"].dtypes

dtype('float64')

In [20]:
df["itemId"] = df["itemId"].astype('int64', errors='ignore')

In [36]:
pd.options.display.float_format = '{:.3f}'.format
df.itemId.astype('float64')

0       100002528.000
1       100003785.000
2       100004132.000
3       100004505.000
4       100005037.000
             ...
10937     9467887.000
10938     9467898.000
10939     9467899.000
10940     9548087.000
10941     9548767.000
Name: itemId, Length: 10942, dtype: float64

In [37]:
df.select_dtypes(include=['int64']).head(10)

      itemId    price  averageRating  totalReviews
0  100002528  2499000              4             8
1  100003785  3788000              3             3
2  100004132  3850000              3             2
3  100004505  1275000              3            11
4  100005037  3984100              5             1
5  100006860    55800              4             2
6  100007498  8132000              5             2
7  100010722  1990000              4            10
8  100010745  3190000              4             7
9  100015720  8000000              3             8

In [ ]:
df.select_dtypes(include=['int64']).to_csv("Atribut_Bertipe Angka_Yu-Gi-Oh!.csv", index=False)