### Indro Dwi Saputro
### POSTTEST 8

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf
from sklearn.preprocessing import OrdinalEncoder
from sklearn.model_selection import train_test_split

### Mengambil dataset dan menampilkan data menggunakan DataFrame

In [3]:
df = pd.read_csv('titanic-data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 779 entries, 0 to 778
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   779 non-null    int64
 1   survived     779 non-null    int64
 2   pclass       779 non-null    int64
 3   sex          779 non-null    object
 4   age          779 non-null    float64
 5   sibsp        779 non-null    int64
 6   parch        779 non-null    int64
 7   fare         779 non-null    float64
 8   embarked     779 non-null    object
 9   class        779 non-null    object
 10  who          779 non-null    object
 11  adult_male   779 non-null    bool
 12  deck         779 non-null    object
 13  embark_town  779 non-null    object
 14  alive        779 non-null    object
 15  alone        779 non-null    bool
dtypes: bool(2), float64(2), int64(5), object(7)
memory usage: 86.8+ KB

### Mengubah data bertipe Objek menjadi data bertipe angka menggunakan encoder

In [9]:
encoder = OrdinalEncoder()
df['sex'] = encoder.fit_transform(df[['sex']])
df['embarked'] = encoder.fit_transform(df[['embarked']])
df['class'] = encoder.fit_transform(df[['class']])
df['who'] = encoder.fit_transform(df[['who']])
df['deck'] = encoder.fit_transform(df[['deck']])
df['embark_town'] = encoder.fit_transform(df[['embark_town']])
df['alive'] = encoder.fit_transform(df[['alive']])
df['alone'] = encoder.fit_transform(df[['alone']])
df['adult_male'] = encoder.fit_transform(df[['adult_male']])

### Menampilkan Hasil Encoding

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 779 entries, 0 to 778
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   779 non-null    int64
 1   survived     779 non-null    int64
 2   pclass       779 non-null    int64
 3   sex          779 non-null    float64
 4   age          779 non-null    float64
 5   sibsp        779 non-null    int64
 6   parch        779 non-null    int64
 7   fare         779 non-null    float64
 8   embarked     779 non-null    float64
 9   class        779 non-null    float64
 10  who          779 non-null    float64
 11  adult_male   779 non-null    float64
 12  deck         779 non-null    float64
 13  embark_town  779 non-null    float64
 14  alive        779 non-null    float64
 15  alone        779 non-null    float64
dtypes: float64(11), int64(5)
memory usage: 97.5 KB

Menentukan record dan label yang akan digunakan

In [13]:
record = df[['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch',
       'fare', 'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town','alone']]
label = df[['alive']]

Bagi data train pada record menjadi data train dan data test. Di sini saya menggunakan proporsi 60:40 (60% Data train dan 40% Data test)

In [16]:
xTrain, xTest, yTrain, yTest = train_test_split(record,label,test_size=.4)

Merubah label menjadi matriks menggunakan fungsi utils di library keras

In [ ]:
numClass = 2
yTrain = tf.keras.utils.to_categorical(yTrain, numClass)
yTest = tf.keras.utils.to_categorical(yTest, numClass))