<h3>Indro Dwi Saputro <br>
2009106099</h3>

<b>Import library yang dibutuhkan

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import GaussianNB

<b>Memanggil dataset dan menampilkan

In [2]:
df = pd.read_csv('titanic_data.csv')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

<b> CLEANING DATA SESUAI REKOMENDASI

In [3]:
imputer_mean = SimpleImputer(strategy='mean')
imputer_median = SimpleImputer(strategy='median')
imputer_modus = SimpleImputer(strategy='most_frequent')

In [5]:
df['deck'] = imputer_modus.fit_transform(df[['deck']])

df.isna().sum()

survived         0
pclass           0
sex              0
age            176
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck             0
embark_town      2
alive            0
alone            0
dtype: int64

In [6]:
df['age'] = imputer_mean.fit_transform(df[['age']])

df.isna().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       2
class          0
who            0
adult_male     0
deck           0
embark_town    2
alive          0
alone          0
dtype: int64

In [7]:
df.dropna(inplace=True)

df.isna().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
deck           0
embark_town    0
alive          0
alone          0
dtype: int64

In [8]:
df.drop_duplicates(inplace=True)

df.duplicated().sum()

0

<b> KNearestNeighbour

In [9]:
df.head(5)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,C,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,C,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,C,Southampton,no,True

In [15]:
data = df[['survived', 'age', 'pclass']]
label = df[['sex']]

data_train, data_test, label_train, label_test = train_test_split(data, label, random_state=0, test_size=.3)

In [16]:
classifier = KNeighborsClassifier(n_neighbors = 7)

classifier.fit(data_train,label_train)

c:\Users\WINDOWS\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\neighbors\_classification.py:207: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=7)

In [18]:
predicted_value = classifier.predict(data_test)
accuracy = accuracy_score(label_test, predicted_value)

In [19]:
print(f'hasil prediksi: {predicted_value}',
     f'Class: {label_test}',
     f'akurasi: {accuracy}',
     sep = '\n'
)

hasil prediksi: ['male' 'male' 'male' 'female' 'female' 'male' 'male' 'male' 'male'
 'female' 'female' 'male' 'female' 'female' 'male' 'female' 'female'
 'male' 'male' 'male' 'male' 'male' 'male' 'male' 'female' 'male' 'female'
 'male' 'male' 'male' 'female' 'male' 'male' 'male' 'male' 'male' 'male'
 'male' 'female' 'male' 'male' 'female' 'female' 'male' 'male' 'male'
 'male' 'female' 'male' 'male' 'female' 'male' 'female' 'female' 'male'
 'female' 'male' 'male' 'male' 'female' 'male' 'female' 'female' 'male'
 'female' 'female' 'female' 'female' 'male' 'male' 'male' 'female' 'male'
 'female' 'male' 'female' 'male' 'male' 'female' 'female' 'female' 'male'
 'male' 'male' 'male' 'male' 'female' 'male' 'male' 'female' 'male'
 'female' 'male' 'male' 'male' 'male' 'male' 'male' 'male' 'male' 'female'
 'female' 'male' 'male' 'male' 'male' 'male' 'female' 'male' 'male' 'male'
 'male' 'male' 'male' 'male' 'male' 'male' 'male' 'male' 'male' 'male'
 'male' 'male' 'male' 'male' 'male' 'male' 'male' 'female' 'male' 'male'
 'male' 'male' 'female' 'male' 'female' 'male' 'male' 'female' 'male'
 'male' 'male' 'male' 'male' 'male' 'female' 'male' 'male' 'male' 'male'
 'male' 'male' 'male' 'male' 'male' 'female' 'female' 'male' 'male' 'male'
 'male' 'female' 'male' 'male' 'male' 'male' 'female' 'male' 'female'
 'male' 'male' 'female' 'female' 'female' 'female' 'female' 'female'
 'male' 'female' 'female' 'male' 'male' 'female' 'male' 'male' 'female'
 'male' 'male' 'male' 'male' 'male' 'female' 'male' 'female' 'male'
 'female' 'male' 'male' 'female' 'female' 'male' 'female' 'male' 'male'
 'male' 'male' 'female' 'male' 'male' 'male' 'male' 'female' 'male'
 'female' 'female' 'male' 'male' 'female' 'male' 'female' 'male' 'female'
 'male' 'male' 'male' 'female' 'male' 'male' 'female' 'male' 'male' 'male'
 'female' 'male']
Class:         sex
154    male
378    male
289  female
14   female
246  female
..      ...
438    male
663    male
872  female
256  female
226    male

[234 rows x 1 columns]
akurasi: 0.7136752136752137

<b>NAIVE BAYES

In [20]:
data_train, data_test, label_train, label_test = train_test_split(data, label, test_size=1, shuffle=False, stratify=None)

In [21]:
classNB = GaussianNB()

classNB.fit(data_train,label_train)

c:\Users\WINDOWS\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GaussianNB()

In [23]:
predicted_valueNB = classNB.predict(data_test)
accuracyNB = accuracy_score(label_test, predicted_valueNB)

In [25]:
print(f'hasil prediksi: {predicted_valueNB}',
     f'Class: {label_test}',
     f'akurasi: {accuracyNB}',
     sep = '\n'
)

hasil prediksi: ['male']
Class:       sex
888  male
akurasi: 1.0

In [26]:
classNB.score(data_test,label_test)

1.0